
.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

/*U koloni ili redu (.row ili .column) centrira elemente*/
.justify-center {
  justify-content: center;
}

/*U koloni ili redu (.row ili .column) rasporedjuje elemente tako da budu podjednako rasireni*/
.justify-between {
  justify-content: space-between;
}

/*U koloni ili redu (.row ili .column) centrira elemente vertikalno*/
.align-center {
  align-items: center;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.border {
  border: 1px solid black;
}

.p-2 {
  padding: 2px;
}

.p-4 {
  padding: 4px;
}

.p-6 {
  padding: 6px;
}

.p-8 {
  padding: 8px;
}

.gap-2 {
  gap: 2px;
}